.section-ourEx {
  padding: 80px 0;
  height: auto;
  background: linear-gradient(180deg, #3d1766 16.35%, #3d3992 90.81%);
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h2 {
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      color: #85c2ff;
      text-align: center;
    }
    &__title {
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
      color: #ffffff;
      text-align: center;
    }
    &__list-tech {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}
@media (max-width: 640px) {
  .section-ourEx {
    padding: 40px 0;
  }
}
