.section-our-tech {
  padding: 80px 0;
  height: auto;
  background: linear-gradient(180deg, #3d1766 0%, #3d3992 90.81%);
  &__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    h2 {
      text-align: center;
    }
    &__list-tech{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
  }
}
