.btn {
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  width: fit-content;
  color: #ffffff;
  position: relative;
  display: inline-block;
  margin-top: 8px;
  &::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    border: 1px solid #faf5ff;
    border-radius: 50%;
    top: -6px;
    left: -20px;
    opacity: 0.4;
  }
  &:hover {
    &::after {
      background-color: #dcc7ed;
    }
  }
}
