.section-page-404 {
  background: linear-gradient(180deg, #3d1766 0%, #6f1ab6 100%);
  height: auto;
  padding-top: 100px;
}
.content-page-404 {
  display: flex;
  color: #ffffff;
  &__left {
    width: 100%;
    height: 500px;
    position: relative;
  }
  &__right {
    width: 60%;
    padding-top: 10%;
    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 40px;
    }
    &__text {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 20px;
      margin-top: 15px;
    }
    &__btn {
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      background: #cd0404;
      padding: 12px 16px;
      border-radius: 32px;
      min-height: 48px;
      transition: all 0.5s ease;
      &:hover {
        background-color: #ff0032 !important;
      }
    }

  }
}
@media (max-width: 1200px) {
  .content-page-404 {
    display: flex;
    color: #ffffff;
    &__left {
      width: 90%;
      height: 320px;
      position: relative;
    }
    &__right {
      width: 50%;
      padding-top: 5%;
    }
  }
}
@media (max-width: 767px) {
  .content-page-404 {
    display: flex;
    color: #ffffff;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    &__left {
      width: 100%;
      height: 320px;
      position: relative;
    }
    &__right {
      width: 100%;
      padding: 5% 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
@media (max-width: 540px) {
  .content-page-404 {
    &__left {
      width: 100%;
      height: 250px;
      position: relative;
    }
    &__right {
      width: 100%;
      padding: 5% 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
@media (max-width: 430px) {
  .content-page-404 {
    &__left {
      width: 100%;
      height: 200px;
      position: relative;
    }
    &__right {
      width: 100%;
      padding: 5% 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
@media (max-width: 340px) {
  .content-page-404 {
    &__left {
      width: 100%;
      height: 170px;
      position: relative;
    }
    &__right {
      width: 100%;
      padding: 5% 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
